<div class="strength_component">
    <div class="indicators_container">
        <div class="strength_indicator" [style]="'background: ' + indicatorsColor()[0]"></div>
        <div class="strength_indicator" [style]="'background: ' + indicatorsColor()[1]"></div>
        <div class="strength_indicator" [style]="'background: ' + indicatorsColor()[2]"></div>
    </div>

    <div [ngSwitch]="passwordStatus" class="password_status">
        <p *ngSwitchDefault [style]="'color: ' + indicatorsColor()[0]">Fill in the password</p>
        <p *ngSwitchCase="'short'" [style]="'color: ' + indicatorsColor()[0]">Password length should be at least 8</p>
        <p *ngSwitchCase="'low'" [style]="'color: ' + indicatorsColor()[0]">Weak password </p>
        <p *ngSwitchCase="'medium'" style="color: rgb(231, 231, 63)">It's medium, you're close 😀</p>
        <p *ngSwitchCase="'strong'" [style]="'color: ' + indicatorsColor()[0]">Now it's finally strong 👏</p>
    </div>
</div>