@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 600px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border: 2px dotted rgb(156, 156, 156);
    background-color: rgb(98, 98, 98);
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: #fff;
}

input{
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

app-user-name, app-password{
    margin-top: 30px;
}

span{
    position: absolute;
    top: 5px;
    color: rgb(255, 101, 101);
    font-size: 18px;
    font-weight: 700;
}

h1{
    margin-bottom: 0;
}

p{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

button{
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(95, 201, 81);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #eaeaea;
    cursor:no-drop;
}